header {
    .row-1 {
        ul {
            display: flex;
            justify-content: flex-end;
            list-style: none;
            margin: 0;
            padding: 10px 0;

            @media screen and (max-width:$mobile) {
                justify-content: center;
            }

            li {
                margin-left: 20px;

                &:nth-child(1),
                &:nth-child(2) {
                    @media screen and (max-width:$mobile) {
                        display: none;
                    }
                }

                a {
                    font-size: 12px;

                    small {
                        font-size: 14px;
                        font-weight: bold;
                        color: $cor-principal;
                    }
                }
            }
        }
    }

    .row-2 {
        background-color: #f8f8f8;

        .flex {
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            padding: 10px 0;

            //hamburger
            .column_1 {
                @media screen and (max-width:$mobile) {
                    width: 10%;
                    display: block;
                    order: 1;

                    span {
                        width: 30px;
                        height: 2px;
                        display: block;
                        margin-bottom: 5px;
                        background-color: $cor-principal;
                    }
                }
            }

            .column_2 {
                width: 17%;

                @media screen and (max-width:$mobile) {
                    width: 70%;
                    order: 2;
                    text-align: center;
                }

                a {
                    display: block;

                    img {
                        @media screen and (max-width:$mobile) {
                            width: 100px;
                            height: auto;
                        }
                    }
                }
            }

            .column_3 {
                width: 55%;

                @media screen and (max-width:$mobile) {
                    width: 100%;
                    order: 4;
                }

                .search {
                    .input {
                        @media screen and (max-width:$mobile) {
                            padding: 5px 0;
                            margin-right: -15px;
                            margin-left: -15px;
                        }

                        input[type="text"] {
                            width: 100%;
                            height: 40px;
                            border: 2px solid #dcdcdc;
                            border-radius: 3px;
                            text-indent: 10px;
                        }

                        button {
                            float: right;
                            display: flex;
                            align-items: center;
                            margin-top: -30px;
                            padding: 0 15px 0 10px;
                            color: $cor-principal;
                            font-weight: bold;
                            border-left: 1px solid #dcdcdc;


                            svg {
                                width: 18px;
                                height: 18px;
                                stroke: $cor-principal;
                                margin-right: 5px;
                            }
                        }
                    }

                    .result {
                        position: absolute;
                        width: 100%;
                        height: auto;
                        overflow: hidden;
                        background-color: #fff;
                        border-radius: 3px;
                        z-index: 3;
                        display: none;
                        box-shadow: 0px 0px 5px 1px #dcdcdc;
                        border: 1px solid #dcdcdc;

                        @media screen and (min-width:$mobile) {
                            top: 80px;
                            left: 0;
                        }

                        @media screen and (max-width:$mobile) {
                            width: calc(100% - 30px);
                            left: 15px;
                        }

                        /* width */
                        ::-webkit-scrollbar {
                            width: 10px;
                            height: 10px;
                        }

                        /* Track */
                        ::-webkit-scrollbar-track {
                            border-radius: 50px;
                            background-color: #e4e4e4;
                        }

                        /* Handle */
                        ::-webkit-scrollbar-thumb {
                            background-color: $cor-principal;
                            border-radius: 50px;
                        }

                        &.active {
                            display: block;
                        }

                        &.loading {
                            background-size: 150px;
                            background-position: center;
                            background-repeat: no-repeat;
                            background-image: url(/arquivos/gif_loading.gif);
                            overflow-x: hidden;
                        }

                        ul {
                            display: flex;
                            flex-wrap: nowrap;
                            overflow-x: auto;
                            -webkit-overflow-scrolling: touch;
                            -ms-overflow-style: -ms-autohiding-scrollbar;
                            transition: opacity 300ms;
                            padding: 10px;

                            &:empty {
                                padding: 0;
                            }

                            li {
                                width: 265px;
                                flex: 0 0 auto;

                                @media screen and (max-width:$mobile) {
                                    width: 200px;
                                }

                                a {
                                    display: block;

                                    .image {
                                        img {
                                            width: 100%;
                                            height: auto;
                                        }
                                    }

                                    .name {
                                        p {
                                            font-size: 14px;
                                            font-weight: 400;
                                            text-transform: uppercase;
                                        }
                                    }

                                    .box_price {
                                        p {
                                            &.parcelas {
                                                margin: 5px 0;
                                                color: #51b4e1;
                                                font-weight: bold;
                                                letter-spacing: 0.5px;
                                            }

                                            &.por_price {
                                                font-size: 12px;
                                                font-weight: bold;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }

            .column_4 {
                width: 28%;

                @media screen and (max-width:$mobile) {
                    width: 20%;
                    order: 3;
                }

                >ul {
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;
                    justify-content: space-between;
                    align-content: center;

                    @media screen and (min-width:$mobile) {
                        padding-left: 15px;
                    }

                    li {
                        position: relative;

                        @media screen and (min-width:$mobile) {
                            padding-bottom: 10px;
                            margin-bottom: -10px;
                        }

                        &:hover {
                            .hover {
                                display: block;
                            }
                        }

                        a {
                            >span {
                                display: flex;
                                align-content: center;
                                position: relative;

                                svg {
                                    width: 30px;
                                    height: 30px;
                                    margin-right: 5px;
                                    fill: $cor-principal;
                                }

                                p {
                                    font-size: 12px;
                                    font-weight: bold;
                                    line-height: 13px;
                                    padding-top: 3px;
                                }
                            }

                        }

                        .hover {
                            position: absolute;
                            top: 45px;
                            margin-left: -30px;
                            padding: 10px 3px;
                            background-color: #fff;
                            box-shadow: 0px 0px 3px 2px #dcdcdc;
                            z-index: 4;

                            ul {
                                display: flex;
                                flex-wrap: wrap;
                                flex-direction: column;

                                li {
                                    a {
                                        display: flex;
                                        align-items: center;
                                        height: 35px;
                                    }
                                }
                            }

                            &:before {
                                width: 0;
                                height: 0;
                                border-style: solid;
                                border-width: 0 6px 12px 6px;
                                border-color: transparent transparent #fff transparent;
                                content: '';
                                position: absolute;
                                top: -12px;
                                left: 40px;
                            }
                        }

                        &.list {
                            span {
                                &:after {
                                    @media screen and (min-width:$mobile) {
                                        width: 8px;
                                        height: 8px;
                                        border-right: 2px solid $cor-principal;
                                        border-bottom: 2px solid $cor-principal;
                                        content: '';
                                        display: block;
                                        transform: rotate(45deg);
                                        position: absolute;
                                        bottom: 5px;
                                        right: -15px;
                                    }
                                }

                                p {
                                    @media screen and (max-width:$mobile) {
                                        display: none;
                                    }
                                }
                            }

                            .hover {
                                width: 220px;

                                ul {
                                    li {
                                        a {
                                            transition: all 300ms;
                                            color: #000;
                                            font-size: 14px;
                                            font-weight: 300;

                                            &:hover {
                                                background-color: $cor-secundaria;
                                                font-weight: bold;
                                            }

                                            img,
                                            svg {
                                                width: 23px;
                                                height: 23px;
                                                margin: 0 15px;
                                            }
                                        }
                                    }
                                }
                            }
                        }

                        &.account_info {
                            @media screen and (max-width:$mobile) {
                                display: none;
                            }

                            p {
                                font-weight: 300;

                                strong {
                                    position: relative;

                                    &:after {
                                        width: 8px;
                                        height: 8px;
                                        border-right: 2px solid $cor-principal;
                                        border-bottom: 2px solid $cor-principal;
                                        content: '';
                                        display: block;
                                        transform: rotate(45deg);
                                        position: absolute;
                                        bottom: 5px;
                                        right: -15px;
                                    }
                                }
                            }

                            .hover {
                                width: 170px;
                                padding: 20px;

                                ul {
                                    li {
                                        a {
                                            display: flex;
                                            align-items: center;
                                            height: 35px;
                                        }
                                    }
                                }
                            }
                        }

                        &.cart {
                            position: relative;

                            a {
                                display: block;

                                svg {
                                    width: 30px;
                                    height: 30px;
                                    fill: $cor-principal;
                                }

                                span {
                                    width: 15px;
                                    height: 15px;
                                    font-size: 12px;
                                    font-weight: bold;
                                    color: #000;
                                    background-color: $cor-secundaria;
                                    justify-content: center;
                                    line-height: 15px;
                                    border-radius: 50px;
                                    position: absolute;
                                    top: -2px;
                                    right: -7px;
                                }
                            }
                        }

                        .hover {
                            display: none;
                        }
                    }
                }
            }
        }
    }

    .row-3 {
        @media screen and (min-width:$mobile) {
            background-color: $cor-principal;
        }

        nav {
            @media screen and (max-width:$mobile) {
                position: fixed;
                width: 100%;
                height: 100%;
                top: 0;
                left: -100%;
                z-index: 2;
                transition: left 300ms;
                display: flex;
                flex-wrap: wrap;

                &.active {
                    left: 0;
                }
            }

            .main {
                @media screen and (max-width:$mobile) {
                    width: 80%;
                    height: 100%;
                    position: relative;
                    background-color: #fff;
                }

                .head {
                    @media screen and (max-width:$mobile) {
                        background-color: $cor-principal;
                        padding: 0 15px;

                        p {
                            font-weight: bold;
                            font-size: 18px;
                            color: white;
                            height: 80px;
                            line-height: 80px;
                        }
                    }
                }

                >.content {
                    @media screen and (max-width:$mobile) {
                        width: 100%;
                        height: 100%;
                        max-height: 70%;
                        overflow: scroll;
                    }

                    >ul {
                        display: flex;
                        flex-wrap: wrap;
                        flex-direction: row;
                        justify-content: space-between;
                        align-content: center;

                        @media screen and (max-width:$mobile) {
                            flex-direction: column;
                        }

                        >li {
                            @media screen and (min-width:$mobile) {
                                position: relative;
                                z-index: 3;

                                &:nth-child(6),
                                &:nth-child(7),
                                &:nth-child(8) {
                                    .submenu {
                                        right: 0;
                                    }
                                }
                            }

                            @media screen and (max-width:$mobile) {
                                width: 100%;

                                &.active {
                                    background-color: #ededed;

                                    p {
                                        &:after {
                                            top: 14px;
                                            transform: rotate(225deg);
                                        }

                                        a {
                                            font-weight: bold;
                                        }
                                    }
                                }
                            }

                            @media screen and (min-width:$mobile) {
                                &:hover {
                                    .submenu {
                                        display: block;
                                    }

                                    p {
                                        &:before {
                                            background-color: $cor-secundaria;
                                        }
                                    }
                                }
                            }

                            &.all_category {
                                .submenu {
                                    max-width: 1035px !important;

                                    .content {
                                        width: 100% !important;
                                        padding-top: 25px;

                                        .column {
                                            @media screen and (min-width:$mobile) {
                                                padding-right: 40px;
                                            }

                                            ul {
                                                li {
                                                    margin-bottom: 20px;
                                                }
                                            }
                                        }
                                    }
                                }

                                p {
                                    cursor: pointer;
                                    color: $cor-secundaria;

                                    @media screen and (max-width:$mobile) {
                                        text-transform: uppercase;
                                        color: $cor-principal;
                                        font-weight: bold;
                                    }

                                    i {
                                        @media screen and (min-width:$mobile) {
                                            margin-right: 10px;

                                            span {
                                                width: 18px;
                                                height: 1px;
                                                display: block;
                                                background-color: white;
                                                margin-bottom: 3px;
                                            }
                                        }
                                    }
                                }
                            }

                            &.list {
                                display: none;

                                p {

                                    &:before,
                                    &:after {
                                        display: none;
                                    }

                                    a {
                                        width: 120px;
                                        height: 30px;
                                        line-height: 30px;
                                        display: block;
                                        font-weight: bold;
                                        border-radius: 5px;
                                        text-align: center;
                                        color: $cor-texto;
                                        background-color: $cor-secundaria;

                                        @media screen and (max-width:$mobile) {
                                            width: auto;
                                            text-align: left;
                                            background: initial;
                                        }
                                    }
                                }
                            }

                            p {
                                @media screen and (min-width:$mobile) {
                                    height: 100%;
                                    display: flex;
                                    padding: 7px 0;
                                    position: relative;
                                    align-items: center;

                                    &:before {
                                        content: '';
                                        position: absolute;
                                        bottom: 0;
                                        width: 100%;
                                        height: 3px;
                                        display: block;
                                        border-radius: 3px;
                                        background-color: transparent;
                                        transition: background-color 300ms;
                                    }
                                }

                                @media screen and (max-width:$mobile) {
                                    height: 40px;
                                    line-height: 40px;
                                    padding: 0 15px;
                                    position: relative;

                                    &:after {
                                        content: '';
                                        display: block;
                                        position: absolute;
                                        right: 20px;
                                        top: 12px;
                                        width: 10px;
                                        height: 10px;
                                        transform: rotate(45deg);
                                        transition: transform 300ms;
                                        border-right: 1.5px solid #b3b3b3;
                                        border-bottom: 1.5px solid #b3b3b3;
                                    }
                                }

                                a {
                                    color: #fff;
                                    font-size: 12px;
                                    font-weight: 400;
                                    text-transform: uppercase;

                                    @media screen and (max-width:$mobile) {
                                        color: initial;
                                        display: block;
                                        border-top: 1px solid #dcdcdc;
                                    }
                                }
                            }

                            div.submenu {
                                display: none;
                                padding: 10px;
                                width: 645px;

                                @media screen and (min-width:$mobile) {
                                    position: absolute;
                                    z-index: 1;
                                    background-color: #fff;
                                }

                                @media screen and (max-width:$mobile) {
                                    width: 100%;
                                    background-color: #ededed;
                                    padding: 0 30px;
                                    max-height: 200px;
                                    overflow: scroll !important;
                                }

                                .content {
                                    display: flex;
                                    flex-wrap: wrap;
                                    flex-direction: row;

                                    @media screen and (min-width:$mobile) {
                                        width: 50%;
                                        float: left;
                                    }

                                    @media screen and (max-width:$mobile) {
                                        flex-direction: column;
                                    }

                                    .column_1,
                                    .column_2 {
                                        width: 50%;

                                        ul {
                                            li {
                                                margin-top: 10px;
                                            }
                                        }
                                    }
                                }

                                .image {
                                    @media screen and (min-width:$mobile) {
                                        width: 50%;
                                        float: left;
                                        text-align: center;
                                    }

                                    @media screen and (max-width:$mobile) {
                                        display: none;
                                    }
                                }
                            }
                        }
                    }
                }

                .footer {
                    @media screen and (max-width:$mobile) {
                        width: 100%;
                        padding: 10px 0;
                        background-color: white;
                        position: absolute;
                        bottom: 0;

                        ul {
                            display: flex;
                            flex-wrap: wrap;
                            justify-content: space-between;
                            padding: 0 15px;

                            li {
                                a {
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;
                                    height: 40px;
                                    color: white;
                                    background-color: $cor-principal;
                                }

                                &:nth-child(1) {
                                    width: 100%;
                                    margin-bottom: 10px;

                                    a {
                                        i {
                                            margin-right: 10px;

                                            svg {
                                                fill: #fff;
                                                width: 25px;
                                                height: 25px;
                                            }
                                        }
                                    }
                                }

                                &:nth-child(2),
                                &:nth-child(3) {
                                    width: 48.5%;

                                    a {
                                        background-color: $cor-principal-escuro;
                                    }
                                }
                            }
                        }
                    }
                }
            }

            .close {
                @media screen and (max-width:$mobile) {
                    width: 20%;

                    span {
                        background-color: $cor-principal-escuro;
                        width: 100%;
                        display: flex;
                        height: 60px;
                        align-items: center;
                        justify-content: center;
                        margin-top: 20px;
                    }
                }
            }
        }
    }
}