.institucional {
  color: #000;
  font-family: 'Montserrat', sans-serif;
  background-color: #f8f8f8;

  main {
    padding: 40px 0 60px;

    @media screen and (max-width: 769px) {
      padding: 40px 0 125px;
    }

    @media screen and (max-width: 490px) {
      padding: 30px 0 145px;
    }
  }

  ul {
    list-style: none;
    padding-left: 0;
  }

  h2 {
    font-size: 30px;
    text-transform: unset;
    font-weight: lighter;
    color: #3f4040;

    &.title {
      margin-bottom: 35px;

      @media screen and (max-width: 490px) {
        text-align: center;
      }
    }

    @media screen and (max-width: 769px) {
      line-height: 1;
    }

    &:after {
      content: "";
      display: block;
      position: relative;
      width: 125px;
      height: 5px;
      background-color: #9e232f;
      border-radius: 25px;
      margin-top: 10px;

      @media screen and (max-width: 490px) {
        margin: 10px auto;
      }
    }
  }

  p {
    font-size: 14px;
    color: #343434;
  }

}

.menu-institucional {
  padding-left: 0;

  @media screen and (max-width: 769px) {
    padding-left: 15px;
  }

  @media screen and (min-width: 490px) and (max-width: 769px) {
    position: relative;
    height: 80px;
  }

  ul {
    background: #fff;
    padding: 10px 0;

    @media screen and (max-width: 769px) {
      height: 52px;
      width: 240px;
      overflow: hidden;
      transition: all 300ms;
      padding: 0;

      border-radius: 5px;
      background: transparent;
      border: none;

      &.active {
        height: 405px;
        border-bottom: 1px solid #35a376;
      }
    }

    @media screen and (min-width: 490px) and (max-width: 769px) {
      position: absolute;
      z-index: 9;

      &.active {
        height: 405px;
        background: #fff;
      }

    }

    @media screen and (max-width: 490px) {
      width: 100%;
      margin-bottom: 40px;
    }
  }

  li {
    height: 35px;
    line-height: 35px;

    @media screen and (max-width: 769px) {
      height: 50px;
      line-height: 50px;
      //border: 1px solid #35a376;
      border: 1px solid #35a376;
      border-bottom: 0px;

      &.mob {
        position: relative;

        &:after {
          content: "";
          display: block;
          width: 10px;
          height: 10px;
          background-image: url('icone-nossa-historia.png');
          background-repeat: no-repeat;
          background-size: 100%;
          position: absolute;
          top: 20px;
          right: 15px;
        }
      }
    }

  }

  li,
  a {
    color: #343434;
    font-size: 12px;
    width: 100%;
    display: block;

    @media screen and (max-width: 769px) {
      color: #216348 !important;
      font-size: 16px;
    }

    &.active {
      font-weight: bold;
      background: #fdd343;

      @media screen and (max-width: 769px) {
        background: transparent;
        font-weight: lighter;
      }
    }
  }

  a {
    padding-left: 10px;

    @media screen and (max-width: 769px) {
      padding-left: 15px;
    }
  }
}

.nossa-historia {
  h2 {
    @media screen and (max-width: 490px) {
      text-align: center;
      margin-bottom: 35px;

      &:after {
        display: none;
      }
    }
  }

  h2,
  p {
    margin-bottom: 35px;

    @media screen and (max-width: 769px) {
      margin-bottom: 30px;
    }

    @media screen and (max-width: 490px) {
      margin-bottom: 25px;
    }
  }

  .text {
    z-index: 1;

    @media screen and (max-width: 490px) {
      margin-bottom: 135px;
    }
  }

  .image {
    position: relative;

    img {
      margin-left: -100px;
      margin-top: -40px;

      @media screen and (max-width: 769px) {
        margin-left: -180px;
        margin-top: -30px;
        width: 770px;
      }

      @media screen and (max-width: 490px) {
        display: none;
      }
    }
  }

  article {
    background: #fff;
    margin-right: 30px;
    width: 270px;
    display: inline-block;
    padding: 30px 15px 25px;
    height: 300px;
    box-shadow: 0px 2px 5px #e5e5e5;
    -moz-box-shadow: 0px 2px 5px #e5e5e5;
    -webkit-box-shadow: 0px 2px 5px #e5e5e5;

    @media screen and (max-width: 769px) {
      width: calc(100%/3 - 13.9px);
      margin-right: 20px;
      margin-top: 130px;
      padding: 10px 15px 20px;

      &:last-child {
        margin-right: 0;
      }
    }

    @media screen and (max-width: 490px) {
      margin: 0px 40px 30px;
      width: 100%;

      &:last-child {
        margin-right: 40px;
      }
    }

    h2 {
      margin-bottom: 25px;
      text-align: left;

      &:after {
        width: 80px;
        margin-top: 5px;
        display: block;
      }
    }

    p {
      margin-bottom: 0;
    }
  }

}

.processo-de-entrega {
  p {
    margin-bottom: 30px;

    &.pergunta {
      margin-bottom: 0px;
      font-weight: bold;
    }
  }
}

.trabalhe-conosco {
  p {
    margin-bottom: 30px;

    a {
      color: #9e232f
    }
  }

  .perfil {
    font-weight: bold;
    margin-bottom: 0;

    &.mg {
      margin-bottom: 30px;
    }
  }
}

.politica-e-seguranca {
  p {
    margin-bottom: 25px;
  }
}

.politica-de-troca {
  p {
    margin-bottom: 25px;
  }

  .list-text {

    padding-left: 40px;

    li {
      font-size: 14px;
      list-style: disc;
      margin-bottom: 25px;
      font-weight: bold;
    }
  }
}

.atendimento {
  main {
    padding: 60px 0 115px;

    @media screen and (max-width: 769px) {
      padding: 30px 0 30px;
    }
  }

  h2 {
    margin-bottom: 15px;
  }

  p {
    margin-bottom: 15px;
  }

  .box-form {
    p {
      margin-bottom: 15px;
    }
  }

  @media screen and (max-width: 490px) {
    p {
      font-size: 18px;
    }
  }
}

.info-fornecedores {
  margin-top: 30px;

  .fornecedor {
    width: 170px;
    padding: 20px 10px 15px;
    background: #fff;
    margin-right: 30px;
    box-shadow: 0px 2px 5px #e5e5e5;
    -moz-box-shadow: 0px 2px 5px #e5e5e5;
    -webkit-box-shadow: 0px 2px 5px #e5e5e5;
    display: inline-block;

    @media screen and (max-width: 490px) {
      width: calc(98%/2);
      margin-right: 0px;
    }
  }

  .nome {
    color: #9e232f;
    font-size: 14px;
    font-weight: bold;
  }

  .contato {
    margin-bottom: 15px;

    p {
      margin-bottom: 0px;

      &.bold {
        font-weight: bold;
      }
    }
  }

  .btn-visite-site {
    color: #268860;
    display: block;
    width: 100%;
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    text-align: center;
    margin-bottom: 15px;
    border: 1px solid #268860;
  }

  .link-fornecedor {
    font-size: 10px;
    color: #717171;
    font-weight: bold;
  }
}

.box-contato {
  background-color: #ffffff;
  border: 1px solid #e4e4e4;
  padding: 10px 15px 30px;
  box-shadow: 0px 2px 5px #e5e5e5;
  -moz-box-shadow: 0px 2px 5px #e5e5e5;
  -webkit-box-shadow: 0px 2px 5px #e5e5e5;

  @media screen and (max-width: 769px) {
    padding: 30px 15px;
    margin-top: 60px;
  }

  p {
    &.name-box {
      font-size: 16px;
      font-weight: bold;
      margin-bottom: 35px;

      @media screen and (max-width: 769px) {
        text-align: center;
      }
    }

    &.title {
      font-size: 12px;
      margin-bottom: 0px;
    }
  }

  a {
    color: #3f4040;
  }

  li {
    margin-bottom: 25px;
    padding-left: 40px;
    position: relative;

    @media screen and (max-width: 769px) {
      width: 45%;
      display: inline-block;
    }

    @media screen and (max-width: 490px) {
      padding-left: 30px;
      width: 49%;
    }

    &:before {
      content: '';
      display: inline-block;
      width: 25px;
      height: 25px;
      position: absolute;
      left: 0px;
      margin-top: 10px;
      background-repeat: no-repeat;
      background-size: 100%;
    }

    &.tel {
      &:before {
        background-image: url(/arquivos/box-contato-phone.png);
      }
    }

    &.whats {
      &:before {
        background-image: url(/arquivos/box-contato-whats.png);
      }
    }

    .tablet {
      @media screen and (max-width: 769px) {
        display: none;
      }
    }
  }

  .telefone {
    font-weight: bold;
    font-size: 14px;
  }

  .atendimento {
    padding-bottom: 20px;
    border-bottom: 1px solid #ededed;
    margin-bottom: 30px;

    @media screen and (max-width: 769px) {
      text-align: center;
    }

    p {
      font-size: 12px;
      margin-bottom: 15px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .atendimento-email {
    border-bottom: 1px solid #ededed;
    margin-bottom: 25px;
    position: relative;

    p {
      margin-bottom: 20px;
    }

    .email {
      padding-left: 40px;
      font-size: 14px;

      @media screen and (max-width: 769px) {
        text-align: center;
      }

      &:before {
        content: '';
        display: inline-block;
        width: 25px;
        height: 25px;
        position: absolute;
        left: 0px;
        background-repeat: no-repeat;
        background-size: 100%;
        background-image: url(/arquivos/box-contato-email.png);

        @media screen and (max-width: 769px) {
          left: 50px;
        }
      }
    }
  }

  .fale-conosco {

    @media screen and (max-width: 769px) {
      display: block;
      width: 230px;
      margin: 0 auto;
    }

    @media screen and (max-width: 490px) {
      width: 100%;
    }

    p {
      margin-bottom: 20px;

      @media screen and (max-width: 490px) {
        width: 230px;
        margin: 0 auto 20px;
      }
    }

    .btn-fale-conosco {
      width: 100%;
      height: 40px;
      background-color: #35a376;
      color: #fff;
      font-size: 16px;
      line-height: 40px;
      display: block;
      text-align: center;
      font-weight: bold;
      border-radius: 2px;
    }


  }


  .col-1-tablet {
    @media screen and (max-width: 769px) {
      width: 50%;
      display: inline-block;
    }

    @media screen and (max-width: 490px) {
      width: 100%;
    }
  }

  .col-2-tablet {
    @media screen and (max-width: 769px) {
      width: 45%;
      display: inline-block;
      vertical-align: top;
    }

    @media screen and (max-width: 490px) {
      width: 100%;
    }
  }



}

.box-form {
  background: #fff;
  padding: 30px 30px 20px;
  margin-bottom: 75px;
  box-shadow: 0px 2px 5px #e5e5e5;
  -moz-box-shadow: 0px 2px 5px #e5e5e5;
  -webkit-box-shadow: 0px 2px 5px #e5e5e5;

  @media screen and (max-width: 490px) {
    padding: 15px;
  }

  form {
    display: inline-block;
    padding: 0;
  }

  label {
    margin-bottom: 10px;
    display: block;
    font-size: 14px;
  }

  input,
  select {
    width: 100%;
    height: 40px;
    border: 1px solid #dbdbdb;
    padding-left: 15px;
    font-size: 12px;
    color: #6d6d6d;
    box-shadow: 0px 1px 2px #e5e5e5;
    -moz-box-shadow: 0px 1px 2px #e5e5e5;
    -webkit-box-shadow: 0px 1px 2px #e5e5e5;

    &::placeholder {
      font-size: 12px;
      color: #6d6d6d;
    }
  }

  select {
    padding-left: 5px;

  }

  option {
    font-size: 12px;
    color: #6d6d6d;
  }

  .mensagem {

    textarea {
      height: 100px;
      width: 100%;
      padding-top: 15px;
      padding-left: 15px;
      border: 1px solid #dbdbdb;
      box-shadow: 0px 1px 2px #e5e5e5;
      -moz-box-shadow: 0px 1px 2px #e5e5e5;
      -webkit-box-shadow: 0px 1px 2px #e5e5e5;

      &::placeholder {
        font-size: 12px;
        color: #6d6d6d;
      }
    }
  }

  .width-col-1 {
    width: 35%;
    margin-right: 4%;
    display: inline-block;

    @media screen and (max-width: 490px) {
      width: 100%;
      margin-right: 0;
    }
  }

  .width-col-2 {
    width: 60%;
    display: inline-block;

    @media screen and (max-width: 490px) {
      width: 100%;
    }
  }

  .btn-enviar {
    width: 145px;
    height: 40px;
    background-color: #35a376;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    float: right;
    padding-left: 0px;
    border-radius: 3px;

    @media screen and (max-width: 490px) {
      width: 100%;
      float: none;
    }
  }



}

.info-loja {

  .title {
    color: #9e232f;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 0px;
  }

  .box {
    padding: 0;
    position: relative;
  }

  .box-1 {

    &:after {
      content: '';
      display: block;
      background-color: #e4e4e4;
      height: 240px;
      width: 1px;
      right: 20px;
      top: 0;
      position: absolute;

      @media screen and (max-width: 490px) {
        width: 100%;
        height: 1px;
        top: initial;
        right: 0;
      }
    }
  }

  .box-2 {

    &:after {
      content: '';
      display: block;
      background-color: #e4e4e4;
      height: 240px;
      width: 1px;
      right: 0px;
      top: 0;
      position: absolute;

      @media screen and (max-width: 490px) {
        width: 100%;
        height: 1px;
        top: initial;
        right: 0;
      }
    }
  }

  .box-3 {
    padding-left: 20px;

    @media screen and (max-width: 490px) {
      padding-left: 0px;
      margin-top: 15px;
    }
  }

  .telefone {

    @media screen and (max-width: 490px) {
      margin-top: 15px;
    }

    a {
      font-size: 16px;
      color: #303030;
      display: block;
      margin-bottom: 25px;
    }
  }

  .atendimento {
    p {
      font-size: 14px;
    }

    .dia {
      margin-bottom: 0;
    }

    @media screen and (max-width: 490px) {
      margin-bottom: 20px;
      margin-top: 20px;
    }
  }

  .email {
    color: #303030;
    font-size: 16px;
    margin-bottom: 25px;
    display: block;
  }

  .endereco {
    font-size: 16px;
  }

  .acesso {
    margin-bottom: 0;
    font-size: 16px;
  }

  .mob {
    @media screen and (max-width: 490px) {
      width: 50%;
      display: inline-block;
    }
  }

  .mob-2 {
    @media screen and (max-width: 490px) {
      width: 45%;
      display: inline-block;
      padding-left: 15px;
    }
  }
}