.produto {
  main {
    background-color: #fff;

    .row_1 {
      .productName {
        font-size: 26px;
        font-weight: 300;
        margin-top: 15px;
      }

      .stars {
        strong {
          display: none;
        }

        span {
          font-size: 0;
          width: 94px;
          height: 16px;
          display: block;
          background-repeat: no-repeat;
          background-image: url(/arquivos/stars.png);

          &.avaliacao0 {
            background-position: 0 0;
            filter: grayscale(1);
          }

          &.avaliacao1 {
            background-position: 0 -73px;
          }

          &.avaliacao2 {
            background-position: 0 -56px;
          }

          &.avaliacao3 {
            background-position: 0 -40px;
          }

          &.avaliacao4 {
            background-position: 0 -20px;
          }

          &.avaliacao5 {
            background-position: 0 0;
          }
        }
      }
    }

    .row_2 {
      display: flex;
      flex-wrap: wrap;
      padding: 20px 0 30px 0;

      .column {
        @media screen and (max-width:$mobile) {
          width: 100%;
        }

        &.column_1 {
          @media screen and (min-width:$mobile) {
            width: 20%;
            padding-right: 15px;
          }

          .product_ {
            &description {
              .text {
                font-size: 14px;
                font-weight: 300;
                color: #626262;
                height: 147px;
                overflow: hidden;

                &.active {
                  height: auto;
                }
              }

              a {
                font-size: 12px;
                text-decoration: underline;
                font-weight: bold;
                margin-top: 15px;
                display: block;
              }
            }
          }
        }

        &.column_2 {
          @media screen and (min-width:$mobile) {
            width: 50%;
            padding: 0 15px;
          }

          .apresentacao {
            #show {
              #include {
                display: none !important;
              }

              .thumbs {
                display: none;

                /* width */
                ::-webkit-scrollbar {
                  width: 5px;
                  height: 5px;
                }

                /* Track */
                ::-webkit-scrollbar-track {
                  border-radius: 10px;
                }

                /* Handle */
                ::-webkit-scrollbar-thumb {
                  background-color: $cor-principal;
                  border-radius: 10px;
                }

                &.slick-initialized {
                  display: block;
                }

                .slick-slide {
                  transition: border 300ms;
                  border: 1px solid white;

                  &:hover {
                    border-color: #dcdcdc;
                  }

                  img {
                    width: 100%;
                    height: auto;
                  }
                }

                .slick-arrow {
                  top: 45%;
                  background-color: #f8f8f8;
                }

                .slick-dots {
                  display: flex;
                  flex-direction: row;
                  margin-top: 15px;
                  overflow-x: scroll;
                  padding-bottom: 5px;

                  li {
                    margin-right: 10px;

                    button {
                      width: 68px;
                      height: 68px;
                      font-size: 0;
                      border: 1px solid #dcdcdc;
                      background-size: 100%;
                      background-position: center;
                      background-repeat: no-repeat;
                    }
                  }
                }
              }
            }
          }
        }

        &.column_3 {
          @media screen and (min-width:$mobile) {
            width: 30%;
          }

          .box_info {
            border: 1px solid #dcdcdc;
            padding: 10px;

            @media screen and (max-width:$mobile) {
              margin-top: 15px;
            }

            .product {
              &_price {
                .preco-a-vista {
                  display: none !important;
                }

                .valor-por {
                  font-size: 0;

                  strong {
                    font-size: 24px;
                    font-style: normal;
                    color: $cor-principal;
                  }
                }

                .valor-dividido {
                  margin: 5px 0;
                  font-style: normal;

                  span {
                    font-size: 14px;
                    color: #545454;
                    display: flex;

                    strong {
                      font-weight: 400;

                      .skuBestInstallmentValue {
                        margin-left: 2px;
                        margin-bottom: -7px;
                        font-weight: bold;
                      }
                    }

                    >span {
                      display: flex;
                      font-size: 0;

                      label {
                        display: flex;
                        font-size: 14px;
                        font-weight: bold;

                        &:before {
                          content: 'Em at\00e9';
                          font-weight: 300;
                          margin-right: 3px;
                        }

                        &:after {
                          content: 'de';
                          font-weight: 300;
                          margin-left: 3px;
                        }
                      }
                    }
                  }
                }
              }

              &_cta {
                padding-top: 15px;
                margin-top: 15px;
                border-top: 1px solid #dcdcdc;

                .qtd {
                  display: flex;
                  align-items: center;

                  .text {
                    margin-right: 15px;
                  }

                  .input {
                    max-width: 120px;
                    width: 100%;
                    height: 35px;
                    background-color: #f8f8f8;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    border: 1px solid #dcdcdc;
                    border-radius: 3px;

                    input {
                      width: 80%;
                      height: 100%;
                      text-align: center;
                      background-color: transparent;
                    }

                    span {
                      width: 20%;
                      height: 100%;
                      line-height: 35px;
                      color: $cor-cta;
                      font-weight: bold;
                      cursor: pointer;
                      text-align: center;
                    }
                  }
                }

                .buy-in-page-quantity {
                  display: none !important;
                }

                .notifyme {
                  z-index: 1;
                  position: relative;
                  background-color: white;
                  margin-top: -65px;

                  &[style="display:block"] {
                    &+#product_add_list {
                      display: none !important;
                    }
                  }

                  .notifymetitle {
                    font-size: 18px;
                    font-weight: 300;
                    text-transform: uppercase;
                    font-weight: bold;
                    color: $cor-principal;
                  }

                  fieldset.success {
                    margin: 20px 0;
                    display: block;
                  }

                  form {
                    fieldset {
                      >p {
                        margin: 10px 0;
                        display: block;
                        font-size: 14px;
                        line-height: 14px;
                      }

                      #notifymeClientEmail,
                      #notifymeClientName {
                        width: 100%;
                        height: 35px;
                        margin-bottom: 10px;
                        text-indent: 10px;
                        border: 1px solid #dcdcdc;
                      }

                      #notifymeButtonOK {
                        width: 70px;
                        height: 35px;
                        line-height: 35px;
                        text-align: center;
                        background-color: $cor-principal;
                        color: $branco;
                        cursor: pointer;
                        float: right;
                        font-weight: bold;
                        margin-bottom: 10px;
                      }
                    }
                  }
                }

                .buy-in-page-button {
                  width: 100%;
                  height: 45px;
                  line-height: 45px;
                  font-size: 23px;
                  letter-spacing: 1px;
                  font-weight: bold;
                  color: #fff;
                  background-color: $cor-cta;
                  border-bottom: 3px solid green;
                  border-radius: 3px;
                  text-align: center;
                  text-transform: uppercase;
                  margin: 18px 0 10px 0;
                }

                .giftlist-insertsku-wrapper {
                  .glis-sku-single {
                    display: none;
                  }

                  .giftlist-insertsku-popup {
                    a {
                      &.glis-popup-link.glis-thickbox {
                        width: 100%;
                        height: 45px;
                        color: $cor-cta;
                        font-weight: 300;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        border-radius: 3px;
                        border: 1px solid $cor-cta;

                        @media screen and (max-width:$mobile) {
                          font-size: 13px;
                        }

                        &:before {
                          content: '';
                          width: 30px;
                          height: 30px;
                          margin-right: 9px;
                          display: inline-block;
                          background-size: 100%;
                          background-position: center;
                          background-repeat: no-repeat;
                          background-image: url(/arquivos/ico_gift.png);

                          @media screen and (max-width:$mobile) {
                            width: 20px;
                            height: 20px;
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }

    .bg_gray {
      background-color: #f8f8f8;

      &.p-b-50 {
        padding-bottom: 70px;
      }
    }

    .product_details {
      @media screen and (min-width:$mobile) {
        margin-top: -40px;
      }

      >ul {
        display: flex;

        @media screen and (max-width:$mobile) {
          display: none;
        }

        li {
          height: 40px;

          a {
            display: flex;
            height: 100%;
            line-height: 40px;
            font-size: 18px;
            font-weight: 300;
            padding: 0 30px;
            background-color: #ededed;
            transition: all 300ms;

            &.active {
              background-color: white;
            }
          }
        }
      }

      .box {
        padding: 20px 0;

        @media screen and (min-width:$mobile) {
          overflow: auto;
          height: 520px;
        }

        .content {
          @media screen and (min-width:$mobile) {
            display: none;

            &.active {
              display: block;
            }
          }

          @media screen and (max-width:$mobile) {
            border-top: 1px solid #dcdcdc;
            height: 60px;
            overflow: hidden;
            margin-left: -15px;
            margin-right: -15px;
            padding: 0 15px 20px;

            &.active {
              height: auto;

              .title {
                &:after {
                  content: '-';
                }
              }
            }

            &:last-child {
              border-bottom: 1px solid #dcdcdc;
            }
          }

          .title {
            @media screen and (max-width:$mobile) {
              height: 60px;
              line-height: 60px;
              text-indent: 20px;
              font-size: 20px;
              font-weight: 300;

              &:after {
                content: '+';
                float: right;
              }
            }
          }

          .text {
            p {
              font-size: 14px;
              font-weight: 300;
            }
          }

          &.content_1 {
            .tags {
              display: flex;
              flex-wrap: wrap;

              li {
                margin-right: 15px;

                @media screen and (max-width:$mobile) {
                  margin-bottom: 15px;
                }

                a {
                  display: block;
                  border-radius: 3px;
                  height: 35px;
                  line-height: 35px;
                  font-weight: 300;
                  padding: 0 10px;
                  text-align: center;
                  background-color: $cor-secundaria;
                }
              }
            }

            .banner {
              margin: 20px 0;

              img {
                width: 100%;
                height: auto;
              }
            }
          }

          &.content_2 {}

          &.content_3 {
            #resenha {

              h4,
              h5,
              #opcoes-avalie>p strong {
                font-size: 18px;
                font-weight: 300;
                margin-bottom: 20px;
              }

              #lnkPubliqueResenha {
                width: 220px;
                height: 40px;
                line-height: 40px;
                display: block;
                padding: 0 10px;
                text-align: center;
                background-color: $cor-principal;
                color: $branco;
              }

              #userReviewShowAllComments {
                margin: 20px 0;
                display: block;
                text-decoration: underline;
                color: black;
              }

              #opcoes-avalie {
                margin-top: 20px;

                p {
                  margin-bottom: 15px;
                }

                input {
                  float: left;
                }
              }

              .avaliacao {
                .media {
                  display: flex;
                  align-items: center;
                  margin-bottom: 10px;

                  >span {
                    margin-right: 10px;
                  }

                  em {
                    font-size: 0;

                    strong {
                      font-size: 0;
                      width: 94px;
                      height: 16px;
                      display: block;
                      background-repeat: no-repeat;
                      background-image: url(/arquivos/stars.png);

                      &.avaliacao0 {
                        background-position: 0 0;
                        filter: grayscale(1);
                      }

                      &.avaliacao1 {
                        background-position: 0 -73px;
                      }

                      &.avaliacao2 {
                        background-position: 0 -56px;
                      }

                      &.avaliacao3 {
                        background-position: 0 -40px;
                      }

                      &.avaliacao4 {
                        background-position: 0 -20px;
                      }

                      &.avaliacao5 {
                        background-position: 0 0;
                      }
                    }
                  }
                }

                .avalie-produto {
                  margin: 20px 0;

                  .rating-value {
                    a {
                      display: flex;

                      span {
                        width: 20px;
                        height: 20px;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }

    .prateleira {
      >h2 {
        padding: 30px 0 20px;
      }
    }
  }
}

#TB_overlay {
  z-index: 11;
  background: rgba(130, 130, 130, 0.5);
}

#TB_window {
  z-index: 12;
  padding-bottom: 10px;
  background-color: #fff;

  @media screen and (max-width:$mobile) {
    overflow: scroll;
    padding-bottom: 10px;
    left: 15px !important;
    background-color: #fff;
    margin-left: 0px !important;
    width: calc(100% - 30px) !important;

    #TB_ajaxContent {
      width: 100% !important;
    }
  }

  /* width */
  ::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    border-radius: 50px;
    background-color: #e4e4e4;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background-color: $cor-principal;
    border-radius: 50px;
  }

  .glis-title {
    display: block;
    font-size: 22px;
    text-align: center;
    margin-bottom: 20px;

    @media screen and (max-width:$mobile) {
      font-size: 17px;
    }
  }

  .glis-selected {
    display: block;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #dcdcdc;
  }

  .glis-create-form {
    margin: 10px 0;
    padding: 10px 0;

    li {

      &.glis-create-form-type,
      &.glis-create-form-name {

        select,
        input.glis-form-name {
          width: 50%;
          height: 40px;
          border: 1px solid #dcdcdc;
          border-radius: 3px;
          text-indent: 15px;
        }

        .glis-form-name-obr {
          display: none;
        }
      }

      &.glis-create-form-name {
        label {
          margin: 10px 0;
        }
      }

      &.glis-create-form-submit {
        a {
          display: block;
          color: $cor-cta;
          font-weight: bold;
          margin-top: 20px;
          text-indent: 3px;
          text-decoration: underline;
        }
      }
    }
  }

  .glis-new-info {
    margin: 10px 0;
    padding: 10px 0;
    border-top: 1px solid #dcdcdc;
    border-bottom: 1px solid #dcdcdc;

    p {
      &:not(:last-child) {
        margin-bottom: 10px;
      }
    }
  }

  .glis-mylist.mode-list {
    margin-top: 10px;
    padding-top: 10px;

    ul {
      display: flex;
      flex-wrap: wrap;
      align-items: center;

      li {
        a {
          margin: 5px;
          height: 35px;
          display: block;
          padding: 0 15px;
          color: $cor-cta;
          line-height: 35px;
          text-align: center;
          border: 1px solid $cor-cta;
        }
      }
    }
  }
}