.rangeslider,
.rangeslider__fill {
  display: block;
  border-radius: 10px;
}

.rangeslider {
  position: relative;
  background: #b3b3b3;
}

.rangeslider--horizontal {
  width: 100%;
  height: 10px;
}

.rangeslider--vertical {
  width: 20px;
  min-height: 150px;
  max-height: 100%;
  height: 100%;
}

.rangeslider--disabled {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
  opacity: 0.4;
}

.rangeslider__fill {
  background: #63b5b2;
  position: absolute;
}
.rangeslider--horizontal .rangeslider__fill {
  top: 0;
  height: 100%;
}
.rangeslider--vertical .rangeslider__fill {
  bottom: 0;
  width: 100%;
}

.rangeslider__handle {
  cursor: pointer;
  color: #63b5b2;
  font-size: 16px;
  font-weight: bold;
  position: absolute;
  text-align: center;
  border-radius: 50%;
  display: inline-block;
}

.rangeslider__handle:after {
  content: '';
  width: 40px;
  height: 40px;
  display: block;
  border-radius: 50px;
  background-color: #63b5b2;
}

.rangeslider--horizontal .rangeslider__handle {
  top: -39px;
  touch-action: pan-y;
  -ms-touch-action: pan-y;
}
.rangeslider--vertical .rangeslider__handle {
  left: -10px;
  touch-action: pan-x;
  -ms-touch-action: pan-x;
}